<div class="card-container">
  <h3>{{title}}</h3>
  @for (line of data; track line) {
    <div class="card-content">
      <div>Branch: <span>{{line.branchName}}</span> | Status: <span [class]="this.getClassByPipelineStatus(line.status)">{{line.status}}</span></div>

      @if (line.status == "success") {
        <mat-progress-bar type="determinate" value="100"></mat-progress-bar>
      }

      @if (line.status == "manual") {
        <mat-progress-bar type="determinate" value="90"></mat-progress-bar>
      }

      @if (line.status == "pending" || line.status == "running") {
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      }

      @if (line.status == "failed") {
        <mat-progress-bar type="determinate" value="0" color="error"></mat-progress-bar>
      }

      <div class="card-footer">
        <p>Pipeline: <a [href]="getPipelineLink(line.pipelineNumber)">#{{line.pipelineNumber}}</a></p>
      </div>
    </div>
  }
</div>
