<div class="container" *ngIf="datasource$ | async; let datasource;">

    <app-card [data]="datasource.parent" [title]="'parent'"></app-card>
    <app-card [data]="datasource.commons" [title]="'commons'"></app-card>

    <app-card [data]="datasource['cms-api']" [title]="'cms-api'"></app-card>
    <app-card [data]="datasource['ecrm-api']" [title]="'ecrm-api'"></app-card>

    <app-card [data]="datasource['service-api']" [title]="'service-api'"></app-card>
    <app-card [data]="datasource['extranet-gateway']" [title]="'extranet-gateway'"></app-card>

    <app-card [data]="datasource['app.webservices']" [title]="'app.webservices'"></app-card>
    <app-card [data]="datasource.editique" [title]="'editique'"></app-card>

    <app-card [data]="datasource['mail-api']" [title]="'mail-api'"></app-card>
    <app-card [data]="datasource['sed-api']" [title]="'sed-api'"></app-card>
    <app-card [data]="datasource['referentiel-api']" [title]="'referentiel-api'"></app-card>
    <app-card [data]="datasource['ged-api']" [title]="'ged-api'"></app-card>
    <app-card [data]="datasource['universign-api']" [title]="'universign-api'"></app-card>
</div>
